LogicApps/TableLogicApp.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Get_entity_(V2)": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuretables']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/tables/@{encodeURIComponent('TestTable')}/entities(PartitionKey='@{encodeURIComponent('1')}',RowKey='@{encodeURIComponent(triggerBody()?['Row'])}')"
                },
                "runAfter": {},
                "type": "ApiConnection"
            },
            "Parse_JSON": {
                "inputs": {
                    "content": "@body('Get_entity_(V2)')",
                    "schema": {
                        "properties": {
                            "Name": {
                                "type": "string"
                            },
                            "PartitionKey": {
                                "type": "string"
                            },
                            "RowKey": {
                                "type": "string"
                            },
                            "Timestamp": {
                                "type": "string"
                            },
                            "odata.etag": {
                                "type": "string"
                            },
                            "odata.metadata": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "Get_entity_(V2)": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            },
            "Response": {
                "inputs": {
                    "body": {
                        "response": "@{body('Parse_JSON')?['Name']}"
                    },
                    "statusCode": 200
                },
                "kind": "Http",
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "Response"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {
                        "properties": {
                            "Row": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azuretables": {
                    "connectionId": "",
                    "connectionName": "",
                    "id": ""
                }
            }
        }
    }
}